<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="vlad_lox.css">
    <title>Document</title>
</head>
<body>
    <p>TEST TEST TEST</p>
    <form action="/login" method="post">
        <span>Email</span><input type="text" placeholder="Email" name="login"> <br>
        <span>Password</span><input type="password" placeholder="Password" name="password"> <br>
        <span>Confirm Password</span><input type="password" placeholder="Password" name="confirmPassword"> <br>
        <input type="submit">
    </form>
</body>
</html>